.incito
    position relative
    font-family -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
    box-sizing border-box
    text-rendering optimizeLegibility

    *:before,
    *,
    *:after
        box-sizing inherit
        
    [data-link]
        cursor pointer

.incito__view
    transform-origin 0 0
    overflow hidden
    margin 0
    padding 0
    display block
    background-repeat no-repeat
    border 0
    
    &[data-gravity="center_horizontal"]
        margin-left auto !important
        margin-right auto !important

    &[data-gravity="left_horizontal"]
        margin-right auto !important

    &[data-gravity="right_horizontal"]
        margin-left auto !important

.incito__video-embed-view > iframe
    width 100%
    height 100%
    border 0

.incito__text-view
    margin 0
    font-family inherit
    word-break break-word
    overflow-wrap break-word
    word-wrap break-word
    text-overflow ellipsis
    -moz-osx-font-smoothing grayscale
    font-smoothing antialiased

    a
        color inherit
        text-decoration underline

    &[data-single-line="true"]
        white-space nowrap

    [data-name="superscript"]
        vertical-align 0.5em
        position relative
        font-size 0.6em

.incito__image-view
    border none
    box-shadow none

.incito__absolute-layout-view
    position relative
    
    > *
        position absolute

.incito__carousel-layout-view
    display flex
    flex-direction row
    justify-content flex-start
    align-items center
    overflow-x auto
    overflow-y hidden
    scroll-snap-type x mandatory
    -webkit-overflow-scrolling touch

.incito__carousel-layout-view > *
    flex 0 0 auto
    scroll-snap-align start
    scroll-snap-stop always
    display flex
    justify-content center
    align-items center
    box-sizing border-box

.incito__carousel-layout-view::-webkit-scrollbar
    opacity 0
    display none

.incito__carousel-layout-view::-webkit-scrollbar-track
    opacity 0

.incito__carousel-layout-view::-webkit-scrollbar-thumb
    opacity 0
